.container{
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #F2F1EB
  }
  
  .logo {
    width: 278px;
    height: 209px;
    left: 0px;
    top: -26px;
    position: absolute;
  }
  
  .menu-item.active {
    width: 223px;
    height: 62px;
    left: 365px;
    top: 61px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 40px;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Itim;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .menu-item.active:hover {
    background: #88ab8e;
  }
  
  .menu-item1 {
    width: 223px;
    height: 62px;
    left: 608px;
    top: 61px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 40px;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Itim;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .menu-item1:hover {
    background: #88ab8e;
  }
  
  .menu-item {
    width: 223px;
    height: 62px;
    left: 851px;
    top: 61px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 40px;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Itim;
    font-weight: 400;
    word-wrap: break-word;
  }
  .menu-item:hover {
    background: #88ab8e;
  }
  
  .menu-item.logout {
    width: 188px;
    height: 43px;
    left: 1160px;
    top: 18px;
    position: absolute;
    background: #d9d9d9;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Itim;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  